name: Show
on:
  schedule:
    - cron: '16 */02 * * *'

  pull_request:
    branches:
      - main
      
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: config
        run: |
          git config --global user.email "<>"
          git config --global user.name "Show bot"

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          
      - name: Install requests module
        run: python3 -m pip install requests

      - name: Execute Python script
        run: python3 py/showmax.py > ch/showmax.m3u8

      - name: Execute Python script
        run: python3 py/showturk.py > ch/showturk.m3u8

      - name: git add
        run: |
          git add -A
          ls -la 
          
      - name: commit & push
        run: |
          git commit -m "m3u8 Link Updated"
          git push
